{% extends 'base.html' %}
{% block content %}

<h2>Girly shoes</h2>

{% for p in cart_items %}

<h5>{{p.name}}</h5>
<ul>

    <img src="{{MEDIA_URL}}{{p.image}}" width="300px" border-radius='50'></img>
    <li>Quantity: {{p.quantity}}</li> 
    <li>${{p.price}} each</li>
    <li>${{p.sub_total}} total</li>
    
    <form action='{% url "remove_from_cart" %}' method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ p.id }}"/>
        <button class="btn-sm btn-danger">Remove</button>

    </form>
</ul>

{% endfor %}

<p><strong>Sub total: ${{ total }}</strong></p>


<form action='{% url "checkout" %}'>
        {% csrf_token %}
        <button class='btn-sm btn-success'>Checkout</button>
</form>

{% endblock content %}