{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<form method="GET" action="{% url 'search' %}">
  <input name="q" value="{{request.GET.q}}" placeholder="search for products..">
  <button class="btn btn-success" type="submit" value="search">Search</button>
</form>
  
  
<section id="projects">
  <div class="container">
    <div class="row">
    
  <div class="col-md-4">
     <div class="projects-container">
      <article class="projects-item">
        <img src="media/images/waterwave1.jpg" width="200px" height="180px" alt="img"></img>
        
        <div class="img-footer">
     <div class="footer-icon">
     
      </div>
    
    </div> 
    </article>
    <div class="img-text">
           <h1>WATER WAVE</h1>
           <h6>soft touch</h6>
        </div>
   </div>
  </div>
 
  <div class="col-md-4">
   <div class="projects-container">
   <article class="projects-item">
    <img src="media/images/deep3.jpg" width="200px"  height="180px" alt="img"></img>
    
    <div class="img-footer">
     <div class="footer-icon">
    </div>
    
    </div> 
    </article>
    <div class="img-text">
     <h1>DEEP WAVE</h1>
     <h6>silk touch</h6>
    </div>
   </div>
  </div>
 
 
 
  <div class="col-md-4">
  <div class="projects-container">
   <article class="projects-item">
    <img src="media/images/waterwave2.jpg" width="200px" height="180px" alt="img"></img>
    
    <div class="img-footer">
     <div class="footer-icon">
    </div>
    
    </div> 
    </article>
    <div class="img-text">
     <h1>LOOSE WAVE</h1>
     <h6>silk touch</h6>
    </div>
   </div>
  </div>
  
  
  </div>
 </div>
</section>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      

 <!--<div class="container-fluid info p-3" id="top-icons">-->
 <!-- <div class="row">-->
 <!--  <div class="col d-flex justify-content-between align-items-baseline flex-wrap">-->
 <!--   <div class="info-icons p-2">-->
 <!--    <a href="#" class="mr-2 primary-color"><i class="fab fa-facebook fa-2x"></i></a>-->
 <!--    <a href="#" class="mr-2 primary-color"><i class="fab fa-instagram fa-2x"></i></a>-->
 <!--    <a href="#" class="mr-2 primary-color"><i class="fab fa-twitter fa-2x"></i></a>-->
 <!--    <a href="#" class="mr-2 primary-color"><i class="fab fa-snapchat fa-2x"></i></a>-->
 <!--   </div>-->
 <!--   <h5 class="primary-color p-2 text-uppercase">6395 Jubilee Street, Palapye Central, Palapye, Botswana</h5>-->
 <!--   <p>Contact: +267 2614177</p>-->
 <!--   <p class="primary-color p-2 text-uppercase">&copy;copyright 2018</p>-->
 <!--  </div>-->
 <!-- </div>-->
 <!--</div>-->
  
{% endblock %}