{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<form method="GET" action="{% url 'search' %}">
       <input name="q" value="{{request.GET.q}}" placeholder="search for products..">
       <button class="btn btn-success" type="submit" value="search">Search</button>
    </form> 
  
  
  <section id="projects">
  
    <div class="container">
   <div class="row">
    <div class="col-md-4">
  <div class="projects-container">
   <article class="projects-item">
    <img class="indeximg" src="media/images/waterwave1.jpg" width="300px" height="200px" alt="img">
    <div class="img-text">
     <h1>WATER WAVE</h1>
     <h6>soft touch</h6>
    </div>
    <div class="img-footer">
     <div class="footer-icon">
     <p>hfhjjjg</p>
     </div>
     </div>
 </div>
 
   </article>
  </div>
  
  <div class="col-md-4">
   <div class="projects-container">
   <article class="projects-item">
    <img class="indeximg" src="media/images/deep3.jpg" width="300px"  height="200px" alt="img">
    <div class="img-text">
     <h1>DEEP WAVE</h1>
     <h6>silk touch</h6>
    </div>
    <div class="img-footer">
     <div class="footer-icon">
     
     </div>
     </div>
 </div>
 
   </article>
  </div>
  <div class="col-md-4">
  <div class="projects-container">
   <article class="projects-item">
    <img class="indeximg" src="media/images/waterwave2.jpg" width="300px" height="200px" alt="img"></img>
    <div class="img-text">
     <h1>LOOSE WAVE</h1>
     <h6>silk touch</h6>
    </div>
    <div class="img-footer">
     <div class="footer-icon">
      
     </div>
     </div>
 </div>
   </article>
  </div>

 </section>
 
  
{% endblock %}