{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<br><br>
<div class="container">
  <div class="row">
   
   
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for product in items %}
    {% if forloop.counter0 == 0%}
    <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
    {% else %}
    <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
    {% endif %}
    {% endfor %}    

  </ol>
  <div class="carousel-inner">
  {% for product in items %}
   {% if forloop.counter == 1%}
    <div class="item active">
   {% else %}
    <div class="item">
   {% endif %}
     <div class="item-inner">
      <img src="{{ MEDIA_URL}}{{product.image}}" width="100%"></img>
      <div class="overlay">
        <a class="text-center" href="{% url 'product_detail' product.id %}">
          <h4>{{product.name}}</h4>
        </a>
        {% if product.discount > 0 %}
            <p class="other">{{product.discount}}% OFF <span class="was">Was {{product.priceOld}}</span></p>
            <h5>Now Only {{product.price}}</h5>
        {% endif %}  
        <p class="ratings">
        {% if product.stars %} 
         {% for star in product.stars %}
         <i class="fa fa-star"></i> 
         {% endfor %} 
         {% if product.needs_half_star %}
         <i class="fa fa-star-half"></i>
         {% endif %}
        {% endif %}
        </p>
      </div>
     </div>
     
    </div>
    
  {% endfor %}
  </div>
  <!-- Wrapper for slides -->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

{% endblock content %}