Django==2.0.6
Pillow==5.1.0
boto==2.48.0
boto3==1.7.41
botocore==1.10.41
colorclass==2.2.0
dj-database-url==0.5.0
django-forms-bootstrap==3.1.0
django-storages==1.6.6
docopt==0.6.2
docutils==0.14
gunicorn==19.8.1
jmespath==0.9.3
packaging==17.1
pip-upgrader==1.4.6
psycopg2==2.7.5
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
s3transfer==0.1.13
stripe==1.83.0
terminaltables==3.1.0
