{% extends "home/base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block head_js %}
   {{ block.super }}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'checkout/stripe.js' %}"></script>
{% endblock head_js %}



{% block content %}
<div class="container">
<h5>{{p.product}}</h5>

<table class="table table-striped">
        <thead>
        <tr>
            <th>Product</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        
        <tbody>
        {% for p in cart_items %}    
      <tr>
          
        <td><img src="{{MEDIA_URL}}{{p.image}}" width="150px" height="120px" border-radius='50'></img></td>
        <td>{{p.name}}</td>
        <td>P{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.sub_total}}</td>
        <td> <form action='{% url "remove_from_cart" %}' method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ p.id }}"/>
                <button class="btn-sm btn-danger">Remove</button>
                </form>
        </td>
    </tr>  
    
   
        <tr>
            {% endfor %}
            
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Basket Total:</strong></td>
            <td>P{{ total }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>


<p><strong>Total To Pay: P{{ total }}</strong></p>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>
    <div id="credit-card-errors" style="display:none">
    <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="form-group col-md-6">
{{ order_form|as_bootstrap }}
    </div>
    <div class="form-group col-md-6">
{{ payment_form|as_bootstrap }}
    </div>
{% csrf_token %}
    <div class="form-group col-md-12">
    <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
 </form>
</div>

{% endblock %}