.product h4 {
    min-height: 2.2em;
}
.btn.read-more {
    border-top: 1px solid #ee3780;
    border-radius: 0px;
    display: block;
    background-color: transparent;
    color: black;
    transition: all ease-in-out 0.3s;
}
.btn.read-more:hover {
    background-color: #ee3780;
    color: white;
}
.btn.add-buy {
    border-radius: 0px;
    display: block;
    background-color: #ee3780;
    width: 50%;
    text-align: center;
    color: white;
}
.quantity {
    width: 50%;
}

.navbar-main {
    background-color: #EB3C81;
    border-radius: 0px;
}
.navbar-main a {
    color: white;
}
.navbar-main a:hover {
    background-color: black;
}
.nav>li>a {
    transition: all ease-in-out 0.3s;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #bc3067;
}
#top-bar {
    background-color: #EB3C81;
    color: white;
    font-size: 13px;
    padding: 10px 0px;
}
#top-bar a {
    color: white;
}
body {
font-family: 'Oswald', sans-serif;
}
#header img {
    margin: 20px auto;
    max-width: 70%;
}
#header h1 {
    margin-top: 30px;
    font-family: 'Lobster', cursive;
    color: #EB3C81;
    font-size: 55px;
}
#header h4 {
    color: #EB3C81;
    
}
.btn, .form-control {
    border-radius: 0px !important;
}
.btn-search {
    background-color: #bc3067;
    transition: all ease-in-out 0.5s;
    color: white;
}
.btn-search:hover {
    background-color: #8d244d;
}
.navbar-form .form-group {
    positon: relative;
    top: 2px;
    left: 2px;
    margin-top: 2px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    border-color: #dfd7ca;
    background-color: #bc3067;
}
#footer {
    background-color: #EB3C81;
    margin-top: 50px;
    min-height: 150px;
    border-bottom: 30px solid #bc3067;
    color: white;
}
p.ratings i{
    color: yellow;
}
h1, h2, h3, h4 {
    color: #EB3C81;
}
.price {
    color: #EB3C81;
}
.product-inner {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    box-shadow: rgba(0,0,0,0.02) 0px 0px 15px;
}
.product-inner h4, .product-inner p {
    padding-left: 1em;
    padding-right: 1em;
}
.item-inner {
    position: relative;
    overflow:hidden;
    min-height: 500px;
    background-color: black;
}
.item-inner img {
    position: absolute;
    width: 100%;
    top: -25%;
    height: auto;
    z-index: 2;
    opacity: 0.5;
}
.item-inner .overlay {
    position: absolute;
    width: 100%;
    z-index: 3;
    text-align: center;
}
.item-inner h4 {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 13%;
    color: white;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 30px;
}
.item-inner .other {
    margin-top: 30px;
    font-size: 30px;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 30px;
    opacity: 1;
    color: #EB3C81;
}
.item-inner h5 {
    font-size: 35px;
    color: white;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 30px;
    font-weight: bolder;
    
}
.item-inner .ratings {
    margin-top: 30px;
    font-size: 30px;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 30px;
    opacity: 1;
}
.item-inner .was {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}