{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}


{% for product in items %}

</hr>
</br>
<div class="col-md-4">
    <img src="{{ MEDIA_URL}}{{product.image}}" width=300px></img> 
    <ul>
    <li>{{product.name}}</li>
    <li>P{{product.price}}</li>
    </ul>
    
    <form method="POST" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}"/>
        <input type="submit" value="Add To Cart"/>
    </form>
</br>
</br>
</div>
</br>
{% endfor %}
{% endblock content %}