{% extends 'home/base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<br><br>
<div class="container">
  <div class="row">
    {% for product in items %}
    <div class="col-sm-3 product">
      <div class="product-inner">
        <a class="text-center" href="{% url 'product_detail' product.id %}">
          <img src="{{ MEDIA_URL}}{{product.image}}" width="100%"></img>
          <h4>{{product.name}}</h4>
        </a>
        <p class="ratings">
        {% if product.stars %} 
        {% for star in product.stars %}
        <i class="fa fa-star"></i> 
        {% endfor %} 
        {% if product.needs_half_star %}
        <i class="fa fa-star-half"></i> 
        {% endif %} 
        
        <br>
        <span class="">{{product.reviews_received.all|length}} 
          {% if product.reviews_received.all|length == 1 %}
          Review
          {% elif product.reviews_received.all|length > 1 %}
          Reviews
          {% endif %} 
        </span>
        <span>{{product.average_rating}} avg rating </span>
        </p>
        {% else %}
        <p class="ratings">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <br><span>No reviews yet</span></p>
        {% endif %}
        <p>Price: <span class="price">P {{product.price}}</span></p>
        <a href="{% url 'product_detail' product.id %}" class="btn read-more">
          Read More
        </a>
      </div>
    </div>
    
    
    {% if forloop.counter|divisibleby:4 %}
      </div><div class="row">
    {% endif%}
  {% endfor %}
  </div>
  </div>

{% endblock content %}